.container{
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;
    height: 100vh;
}

.donde{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mapa{
    margin: 30px 0 30px 80px ;

    
    border-color: brown;
    border-width: 8px 8px 8px 8px;
    border-style: solid;
    border-radius: 20px;
}