.container{
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;
    height: 100vh;
}

.donde{
    display: flex;
    justify-content: space-around;
    align-items: center;
}