*{
    margin: 0; 
    padding: 0;
    box-sizing: 0;
}
body{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.section_logo{
    display:flex ;
    justify-content: space-around;
    height: 150;
    background-color:beige;
    font-size: 2rem;
}
#img_logo_ita{
    align-items: center;
    width: 120px;
    height: 120px;
}
#div_form{
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 0 0 40px;
}
#find{
    align-self: center;
    border: 2px solid bisque;
}

#find {
    width: 300px; /* Ajusta el ancho */
    height: 40px; /* Ajusta la altura */
    padding: 5px; /* Añade relleno interno */
    font-size: 16px; /* Tamaño del texto */
}

#butt_find {
    width: 100px; /* Ajusta el ancho */
    height: 40px; /* Ajusta la altura */
    padding: 5px; /* Añade relleno interno */
    font-size: 16px; /* Tamaño del texto */
}

#usuario{
    align-self: center;
    color: rgb(220, 69, 205);
    padding: 0 40px 0 40px;
}
#carrito{
    align-self: center;
    padding: 0 0px 0 40px;
    color: rgb(220, 69, 205);
}
nav{
    background-color: rgb(235, 255, 196);
}
nav ul{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    list-style: none;
    padding: 0.7em 0;
    font-size: 1.5rem;
}
nav ul li{
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(189, 25, 25);
}
.barra {
    background-color: black;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    padding: 10px 0;
}
.mensaje {
    display: inline-block;
    animation: mover 10s linear infinite;
}
@keyframes mover {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

main{
    background-color: beige;
}

h2{
    text-align: center;
}


main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.newsletter{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    background-color: pink;
    align-items: center;
    height: 100px;
}

.news_item{
    align-self:center;
}
.newsletter >h2{
    margin: 0 0 0 20px;
}
.newsletter >a{
    margin:0 20px 0 0;   
}
#mail_news{
    padding: 0 0 0 20px;
    background-color: pink;
    border: 1px solid rgb(194, 37, 167);
    border-radius: 15px;
    height: 30px;
    width: 200px;
}
.email_news::placeholder {
    padding: 0 0 0 10px;
    color: black;
    letter-spacing: 1.5px;
    border-radius: 15px;
    height: 40px;
    width: 300px;
}
.tienda_encontrarnos_atencion{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    height: 150px;
    background-color: black;
    color: white;
}

.tea_item{
    align-self: center;
}
.footer_h4{
    font-size: 1em;
    padding: 1rem 0 0.75em 0;
    color: white;
}
.tienda_encontrarnos_atencion p{
    font-size: 0.75rem;
    color: white;
    text-decoration: none;
    text-align: left;
   margin: 0 0 1rem 0 ;
}

.i_footer{
font-size: 1.2rem;
margin: 0 1rem 0 0;
}

.medios{
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 150px;
    background-color: rgb(5, 0, 0);
    color: white;
}
.medios_items{
    align-self: center;
}
.medios img{
    padding: 1.5rem 0 0 0;
    height: 20px;
    width: 31px;
}
.copyright{
    display: flex;
    background-color: black;
    justify-content: center;
    height: 50px;
    font-size: 0.75em;
}
.copyright p{
    color: white;
    align-self: center;
}


/* Tamaño de imagen en dispositivos móviles (pantallas pequeñas) */
@media (max-width: 600px) {
    main img {
        width: 100%;
        height: auto;
    }

    .section_logo{
        display:flex ;
        justify-content: space-around;
        height: 150;
        background-color:beige;
        font-size: 0.75rem;
    }
    
    #find {
        width: 100px; /* Ajusta el ancho */
        height: 20px; /* Ajusta la altura */
        padding: 5px; /* Añade relleno interno */
        font-size: 16px; /* Tamaño del texto */
    }

    #butt_find {
        width: 50px; /* Ajusta el ancho */
        height: 20px; /* Ajusta la altura */
        padding: 5px; /* Añade relleno interno */
        font-size: 12px; /* Tamaño del texto */
    }

    nav ul li a{
        font-size: medium;
    }
}

/* Tamaño de imagen en tabletas (pantallas medianas) */
@media (min-width: 601px) and (max-width: 1024px) {
    main img {
        width: 80%;
        height: auto;
    }
}


