*{
    margin: 0; 
    padding: 0;
    box-sizing: 0;
}
body{
    /* font-family: ; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.section_logo{
    display:flex ;
    justify-content: space-around;
    align-items: center;
    height: 150;
    background-color:beige;
    font-size: 2rem;
}
#logo{                                      /*contenedor del header*/
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 150px;
}
#img_logo_ita{
    width: 120px;
    height: 120px;
}
#div_form{
    display: flex;  
    justify-content: space-around;
    align-items: center;
    padding: 0 0 0 40px;
}
#find{
    width: 300px;
    border: 2px solid bisque;
}
#usuario{
    color: rgb(220, 69, 205);
    padding: 0 40px 0 40px;
}
#carrito{
    padding: 0 0px 0 40px;
    color: rgb(220, 69, 205);
}
nav{
    background-color: rgb(235, 255, 196);
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0.7em 0;
    font-size: 1.5rem;
}
nav ul li{
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(189, 25, 25);
}
.barra {
    background-color: black;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    padding: 10px 0;
}
.mensaje {
    display: inline-block;
    animation: mover 10s linear infinite;
}
@keyframes mover {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.Titulo{
    padding: 1rem;
    font-family: 'Quicksand', sans-serif;
    color:rgb(63, 63, 5);
    font-size: 1.75rem; 
    font-weight: 500;
    text-transform: uppercase;  
    text-align: center; 
    width:100%;
    background-color: beige;
}



main{
    background-color: beige;
}

h2{
    text-align: center;
}


main {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content {
    /* background-color: #45a049; */
    border-radius: 10px;
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 600px;
}



.newsletter{
    display: flex;
    justify-content:space-around;
    background-color: pink;
    align-items: center;
    height: 100px;
}
.newsletter >h2{
    margin: 0 0 0 20px;
}
.newsletter >a{
    margin:0 20px 0 0;   
}
#mail_news{
    padding: 0 0 0 20px;
    background-color: pink;
    border: 1px solid rgb(194, 37, 167);
    border-radius: 15px;
    height: 30px;
    width: 200px;
}
.email_news::placeholder {
    padding: 0 0 0 10px;
    color: black;
    letter-spacing: 1.5px;
    border-radius: 15px;
    height: 40px;
    width: 300px;
}
.tienda_encontrarnos_atencion{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    background-color: black;
    color: white;
}
.footer_h4{
    font-size: 1em;
    padding: 0 0 0.75em 0;
    color: white;
}
.tienda_encontrarnos_atencion p{
    font-size: 0.75em;
    color: white;
    text-decoration: none;
    text-align: left;
}
.medios{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    background-color: black;
    color: white;
}
.medios img{
    height: 20px;
    width: 31px;
}
.copyright{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 0.75em;
}
.copyright p{
    color: white;
}